*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

img {
  object-fit: cover;
}

.no-border {
  border: none;
}

.heightFull {
  height: 100vh;
}

.copyright-label {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.sticky {
  position: sticky;
  bottom: 0;
}

.footer {
  position: fixed;
  right: 28px;
  bottom: 24px;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
  display: flex;
  justify-content: center;
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.25s both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.25s both;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.25s both;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.25s both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}